#rodape {
    padding: 0px;
    background: #f0f0f0;
}

.git {
/*    background: #f0f0f0;*/
    background: white;
    padding: 15px;
    color: white;
}
.git a{
    color: black;
    text-decoration: none;
}
.bt-contratando {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-weight: bold;
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7692c 0%, #fc575e 74%);
    height: 5rem;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #787878;
}
.bt-contratando:hover{ 
    text-decoration: none !important;
    color: white !important;
}
.bt-contratando a {
    text-decoration: none;
    color: white !important;
}
