.navbar {
    margin-bottom: 0;
    /*            box-shadow: 2px 2px 2px #56595c;*/
    /*            background-color: #31A2F2;*/
    background: linear-gradient(150deg, #134568 0%, #052d4a 100%);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.container-header{
/*    padding: 0 !important;*/
}
.navbar li{
    text-align: right;
    margin-right: 30px;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    transition: background-color 0.1s, color 0.2s ease-in-out;
}
.navbar-header{
    text-align: right !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #134568 !important;
    background-color: #fff !important;
    transition-timing-function: ease-in;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.logo-small {
    color: #134568;
    font-size: 40px;
}

.logo {
    color: #134568;
    font-size: 200px;
}


.logo-diferente {
    height: 100px;
    transition-timing-function: ease-in;
    /*            background-color: #31A2F2;*/
    background-color: white;
    box-shadow: 2px 2px 2px #232323;
}


.aex-logo {
    height: 150px;
    margin-top: -36px;
    /*            background-color: #31A2F2;*/
    background-color: white;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    transition: height 0.1s, margin-left 0.1s, color 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .aex-logo {
        margin-top: -25px;
        height: 70px;
        transition-timing-function: ease-in;
        /*            background-color: #31A2F2;*/
        background-color: white;
        box-shadow: 2px 2px 2px #232323;
    }
}

.btn-login{
    margin-top: 10% !important;
    transition: background-color 0.2s ease-in-out;
}